name: Frontend Deploy

on: 
  push:
    branches:
      - main
    paths:
      - "frontend/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: setup node
        uses: actions/setup-node@v6

      - name: install dependencies
        run: npm ci
        working-directory: frontend

      - name: build project
        run: npm run build
        working-directory: frontend

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: deploy to s3
        run: aws s3 sync dist/ s3://portfolio-frontend-bucket-134679 --delete
        working-directory: frontend

      - name: invalidate cloudfront
        run: |
          DIST_ID=$(aws cloudfront list-distributions --query "DistributionList.Items[?Aliases.Items[0]=='demo.seolman.dev'].Id" --output text)
          aws cloudfront create-invalidation --distribution-id $DIST_ID --paths "/*"
