name: Frontend Deploy

on: 
  push:
    branches:
      - main
    paths:
      - "frontend/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: setup node
        uses: actions/setup-node@v6

      - name: install dependencies
        run: npm ci
        working-directory: frontend

      - name: build project
        run: npm run build
        working-directory: frontend

      # TODO aws configure
      # TODO aws s3
      # TODO aws cloudfront validate
